/* PC */

@media (min-width:1024px) {
    .mobile-menu {
        display:none;
    }
}

/* Table */

@media (min-width:740px) and (max-width:1024px) {}

/* Mobile */

@media (max-width:740px) {
    .s-col-full {
        width:100%;
    }
    .s-full-width {
        width:100%;
    }
    .nav > li {
        display:block
    }
    .nav {
        display:block;
    }
    .nav > li:first-child {
        display: inline-block;
    }
    .search-button {
        display: none;
    }
    #header {
        overflow: hidden;
    }
    .subnav {
        display:block;
        position: initial;
        background:black;
    }
    .nav li a {
        color:white;
    }
    .subnav li a {
        padding:5px 32px;
    }
    .mobile-menu {
        position: absolute;
        top:0;
        right:0;
    }
    .member-image {
        width:60%;
    }
    .contact-form {
        margin-top:16px;
    }
    .form-control {
        margin-bottom:8px;
        padding:16px;
    }
    .btn {
        padding: 17px 18px;
        width:100%;
    }
    .btn-tickets {
        margin-right: 16px;
}
    }
